# Análise Exploratória dos Dados

In [1]:
# importando bibliotecas
import os
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('..\\data\\raw\\winequalityN.csv')

In [6]:
data.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

#### Entendendo as Variáveis

- **type:** tipo do vinho (vermelho ou branco)
- **fixed acidity:** a maioria dos ácidos envolvidos no vinho são fixos ou não voláteis (não evaporam facilmente)
- **volatile acidity:** a quantidade de ácido acético no vinho, que em níveis muito altos pode levar a um gosto desagradável de vinagre
- **citric acid:** encontrado em pequenas quantidades, o ácido cítrico pode adicionar 'frescor' e sabor aos vinhos
- **residual sugar:** a quantidade de açúcar restante após a parada da fermentação, é raro encontrar vinhos com menos de 1 grama/litro e
- **chlorides:** a quantidade de sal no vinho
- **free sulfur dioxide:** a forma livre de SO2 existe em equilíbrio entre o SO2 molecular (como um gás dissolvido) e o íon bissulfito; previne
- **total sulfur dioxide:** quantidade de formas livres e ligadas de SO2; em baixas concentrações, o SO2 é quase indetectável no vinho, mas em SO2 livre
- **density:** a densidade da água é próxima à da água dependendo do teor percentual de álcool e açúcar
- **pH:** descreve o quão ácido ou básico um vinho é em uma escala de 0 (muito ácido) a 14 (muito básico); a maioria dos vinhos está entre 3-4 na escala
- **sulphates:** um aditivo de vinho que pode contribuir para os níveis de gás dióxido de enxofre (S02), que atua como um antimicrobiano
- **alcohol:** o teor percentual de álcool do vinho
- **quality:** variável de saída (com base em dados sensoriais, pontuação entre 0 e 10)

#### Limpeza nos Dados

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5295 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  5295 non-null   object
 1   fixed acidity         5295 non-null   float64
 2   volatile acidity      5295 non-null   float64
 3   citric acid           5295 non-null   float64
 4   residual sugar        5295 non-null   float64
 5   chlorides             5295 non-null   float64
 6   free sulfur dioxide   5295 non-null   float64
 7   total sulfur dioxide  5295 non-null   float64
 8   density               5295 non-null   float64
 9   pH                    5295 non-null   float64
 10  sulphates             5295 non-null   float64
 11  alcohol               5295 non-null   float64
 12  quality               5295 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 579.1+ KB

Os tipos de dados estão corretos conforme o desejado, não será necessário transformação de caracteres.

In [17]:
# soma a quantidade de valores nulos por coluna
data.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Notamos valores ausentes no conjunto de dados. Uma forma de resolver este problema seria fazer a substituição desses valores para não haver perca de dados, porém a quantidade de valores é muito pequena se comparada ao tamanho do dataset e por conta disso tomarei libertade em remover estes dados nulos, visto que tal remoção possa ter um impacto insignificativo no projeto. Entretanto, caso nosso modelo  de classificação apresente um desempenho abaixo do esperado, podemos voltar atrás de testar se esses dados trarão alguma melhora no desempenho.

In [16]:
# remove dados nulos
data = data.dropna()

In [20]:
# soma a quantidade de dados duplicados
data.duplicated().sum()

0

No caso de dados duplicados não tem muito o que se fazer a não ser remove-los. Dados duplicados atrapalham e podem enviesar nossa análise e nosso modelo.

In [19]:
# remove dados duplicados
data = data.drop_duplicates()

#### Distribuição dos Dados

In [23]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000,5295.000000
mean,7.218008,0.344021,0.318782,5.051029,0.056690,30.046837,114.118225,0.994536,3.224385,0.533199,10.550154,5.796034
std,1.320690,0.168237,0.147112,4.500641,0.036901,17.827151,56.787187,0.002969,0.160155,0.149851,1.186533,0.880005
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.240000,1.800000,0.038000,16.000000,74.000000,0.992200,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.300000,0.310000,2.700000,0.047000,28.000000,116.000000,0.994670,3.210000,0.510000,10.400000,6.000000
75%,7.700000,0.410000,0.400000,7.500000,0.066000,41.000000,154.000000,0.996780,3.330000,0.600000,11.400000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000